<h1 style="color: #629755">this is my first header</h1>

<ul>
    <li><a href="{{path("project")}}">project</a></li>
    <li><a href="{{path("finance")}}">finance</a></li>
    <li><a href="{{path("about")}}">about</a></li>
    <li><a href="{{path("contact")}}">contact</a></li>
</ul>